body {
  padding-top: 50px;
}
.cmsc417 {
  padding: 40px 15px;
  /* text-align: center; */
}
td {
  vertical-align: top;
  padding-bottom: 10px;
  padding-right: 10px;
}
blockquote {
	font-size: 14px;
}